<style media="screen">
hr {
  height: 1px;
    background-color: black;
    margin-top: 0px;
    border: none;
    margin-bottom: 0px;
}
.black {


background-color: hsl(0,0%,7%);;


}
 #shadow {
  text-shadow: 2px 3px 3px white;
  margin-top: 3px;
}
h1 {
  text-shadow: 2px 3px 3px black;
 }
.menu {
margin-top: -80px;




}
#nav {
  margin-left: 2px;
  margin-right: 2px;
}
  #banner {
    position: relative;

  }
</style>
<header>

  <section class="section black is-medium" id="banner">
    <div class="container">
      <h1 id="sitetitle" class="title is-3 has-text-white-bis has-text-centered is-capitalized has-text-weight-bold">
        <% title=config.title %>
        <%=title %>
      </h1>

      <h2 id="shadow" class="subtitle is-4 has-text-white is-capitalized has-text-centered">
<% if (config.subtitle){ %>
        <% subtitle=config.subtitle %>
        <%=subtitle %>
        <% } %>
      </h2>

    </div>

    </div>
  </section>
<!--TOP Menu-->
  <div class="menu level" >
<div class="level-item has-text-centered"></div>
    <nav class=".navbar level-item" >
      <% for (var i in theme.menu) { %>
        <a style="text-shadow: 2px 2px 3px grey" id="nav" class="button is-text is-outlined is-primary " href="

<%
            if (theme.menu[i].lengh>8) { %>
        <%=theme.menu[i]%>
            <% }else { %>
            <%=url_for(theme.menu[i])%>
            <% }
        %>"> <%= i %></a>
        <% } %>
    </nav>
    <div class="level-item has-text-centered"></div>
</div>

  <hr>






</header>
